body{
    text-align: justify;
    background-color: rgb(255, 161, 211);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(109, 0, 109)
}
h1{
text-align: center;
    color:black
}