body{
    
    background-image:url(https://i.etsystatic.com/29266568/r/il/f7f1de/3034698640/il_570xN.3034698640_gdbc.jpg);
  
    background-size: 200%;
    color:white;
}
h1{
    color:rgb(251, 251, 251);    
    text-align: center;
     font-family: 'Cookie', cursive;
     font-size: 100px;
}
p{
    color:rgb(231, 233, 233);
    font-family: 'Delicious Handrawn', cursive;
}
#LOGO{
    padding: 10px; margin: 10px; float: right; width: 250px  ;
}
ul{
    color:antiquewhite;
}
#entrenadores{
    background: black;
    color:rgb(2, 245, 116);
}
#inscripcion{
    text-align: right;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#informacion{
    background-color: rgb(0, 0, 0);
    color:white;

}
#HORARIOS{
    background-color: rgb(239, 252, 1);
    color:rgb(6, 0, 0);
}
#COSTOS{
    background-color: rgb(214, 252, 1);
    color:rgb(6, 0, 0);
}

#HORARIOS:hover{
    background-color: rgb(74, 49, 1);
    color:white;
}
#COSTOS:hover{
    background-color: rgb(74, 49, 1);
    color:white;
}
#navegacion{
    list-style:none ;
    padding: 0;
    background: grey;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
#navegacion li a{
    text-decoration: none;
    color:black;
    padding: 20px;
    display: block;

}
#navegacion li{
    display: inline-block;
    text-align: center;

}
#navegacion li a:hover{
    background: rgb(255, 2, 2);
    color:azure;
}